<h2 id="current-category" class="board" style="display:none">
  Category title
</h2>

<h3 id="current-question" class="board" style="display:none">
  Question description
</h3>

<div id="answer-form" class="board" style="display:none">
  <%= form_tag game_answer_path(current_game), method: :patch do %>
    <%= collection_select :game, :answer, Answer.all, :id, :description, {include_blank: ''}, {style:"width:500px;"} %>
    <%= submit_tag :Submit, data: { disable_with: false } %>
  <% end%>
</div>
<div id="answer-waiting" class="board" style="display:none">
  <span id="answer-name">Someone</span> is answering.
</div>