<h1>Games Index</h1>
<h3><%= link_to "New Game", new_game_path %></h3>
<% @games.each do |game| %>
  <li><%= link_to game.name, game_path(game) %></li>
<% end %>
<h1>My Games</h1>
<% @my_games.each do |game| %>
  <li><%= link_to game.name, game_path(game) %></li>
<% end %>